<html>
  <head>
    <%= include partials/head.ejs %>
  </head>
  <body>
    <%= include partials/navbar.ejs %>
    <div class="page-header text-center">
      <h1>Inventory Items</h1>
    </div>

    <div class="container">
      <button type="button" class="btn btn-success" id="btnAdd">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;Add Item
      </button>
    </div>
    <div class="container">
      <table class="table table-bordered table-striped">
        <tr>
          <th></th>
          <th>ID</th>
          <th>Properties</th>
          <th></th>
        </tr>
        <% for(var i =0; i < items.length; i++) { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= items[i].id %></td>
          <td class="properties">
            <% for(var prop in items[i].properties) {
              if(prop !== 'id') { %>
                <div class="property">
                  <strong class="name"><%= prop %></strong>:&nbsp;
                  <span class="value"><%= items[i].properties[prop] %></span>
                </div>
            <% }
            } %>
          </td>
          <td>
            <button type="button" class="btn btn-sm btn-default" data-edit="<%= items[i].id %>">
              <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" data-delete="<%= items[i].id %>">
              <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button>
          </td>
        </tr>
        <% } %>
      </table>
    </div>

    <%= include partials/flash.ejs %>
    <%= include partials/itemModal.ejs %>
    <%= include partials/scripts.ejs %>
    <script src="/js/items.js"></script>
  </body>
</html>
