<html>
  <head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/table.css">
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <div class="panel-container size-large">
      <div class="panel">
        <div class="panel-body">
          <table class="inventory-table">
            <thead>
              <tr>
                <th></th>
                <th>Date</th>
                <th>Entity</th>
                <th>Action</th>
                <th>User</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < log.length; i++) { %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= new Date(log[i].created).toLocaleString() %></td>
                <td class="value"><pre><%- log[i].entity %></pre></td>
                <td><%= log[i].action %></td>
                <td><%= log[i].user %></td>
                <td><%= log[i].comment %></td>
              </tr>
            <% } %>
            </tbody>
          </table>
       </div><!-- end panel-body -->
     </div><!-- end panel -->
    </div><!-- end panel-container -->

    <% include partials/scripts.ejs %>
  </body>
</html>
