<html>
  <head>
    <%= include partials/head.ejs %>
  </head>
  <body>
    <%= include partials/navbar.ejs %>
    <div class="page-header text-center">
      <h1>Upload Files</h1>
    </div>

    <div class="container">
      <button type="button" class="btn btn-success" id="btnAdd">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;Add Service
      </button>
    </div>
    <div class="container">
      <% if (authenticated) { %>
        <form action="/file" method="POST" enctype="multipart/form-data">
          <input id="fileupload" type="file" name="files" data-url="/file" multiple>
          <input type="hidden" id="token" name="token">
          <input type="submit">
        </form>
      <% } else { %>
        <button id="btnAuthenticate">Log into Dropbox</button>
        <script>
          var apiKey = '<%= apiKey %>';
          var redirectUrl = '<%= redirectUrl %>';
        </script>
      <% } %>
    </div>

    <%= include partials/flash.ejs %>
    <%= include partials/scripts.ejs %>
    <script src="/js/upload.js"></script>
  </body>
</html>
