<html>
  <head>
    <%= include partials/head.ejs %>
  </head>
  <body>
    <%= include partials/navbar.ejs %>
    <div class="page-header text-center">
      <h1>List of Users</h1>
    </div>

    <div class="container">
      <button type="button" class="btn btn-success" id="btnAdd">
        <span class="glyphicon glyphicon-plus"></span> Add User
      </button>
    </div>
    <div class="container">
      <table class="table table-bordered table-striped table-condensed">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th>School</th>
          <th>Permission Level</th>
          <th>Created</th>
          <th>Modified</th>
          <th></th>
        </tr>
        <% for(var i = 0; i < users.length; i++) { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= users[i].name %></td>
          <td><%= users[i].email %></td>
          <td><%= users[i].school %></td>
          <td><%= users[i].permissionLevel %></td>
          <td><%= users[i].created %></td>
          <td><%= users[i].modified %></td>
          <td>
            <button type="button" class="btn btn-sm btn-default" data-edit="<%= i + 1 %>">
              <span class="glyphicon glyphicon-pencil"></span> Edit</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" data-delete="<%= i + 1 %>">
              <span class="glyphicon glyphicon-trash"></span> Delete</button>
          </td>
        </tr>
        <% } %>
      </table>
    </div>

    <!-- Message -->
    <div class="container">
      <div class="row">
        <div class="col-lg-10 text-center">
          <span id="message"></span>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <form role="form" id="myForm">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Enter email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Enter name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="school" placeholder="Enter school">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password1" placeholder="Provide password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password2" placeholder="Repeat password">
              </div>
              <div class="form-group">
                <label for="permissionLevel">Permission level:</label>
                <select class="form-control" id="permissionLevel">
                  <option>USER</option>
                  <option>MANAGER</option>
                  <option>ADMIN</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="btnSave">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <%= include partials/scripts.ejs %>
    <script src="/js/users.js"></script>
  </body>
</html>
